{% extends 'base.html' %}
{% block title %} {{ product.name }} detail{% endblock %}
{% block content %}
    <h2>{{ product.name }}</h2>
    <small>{{ product.created }}</small>
    <p>{{ product.price }}$</p>
    <img src="https://via.placeholder.com/300" class="card-img-top" >
    <p>{{ product.description }}</p><br/><br/>
    <form action="{% url 'orders:add_cart' product.id %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Add To Cart">
    </form>
{% endblock %}


