{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
    {% for cat in categories %}
            <div class="btn-group">
              <a href="{{ cat.get_absolute_url }}" class="btn btn-warning">{{ cat.name }}</a>
              <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
              </button>

                  <ul class="dropdown-menu">
                      {% for sub in cat.scategory.all %}
                            <li><a class="dropdown-item" href="{{ sub.get_absolute_url }}">{{ sub.name }}</a></li>
                      {% endfor %}
                  </ul>

            </div>
    {% endfor %}
    </br></br>
    {% for product in products %}
        <div class="card" style="width: 18rem; display: inline-block">
          <img src="https://via.placeholder.com/150" class="card-img-top" >
          <div class="card-body">
            <a href="#" class="card-title">{{ product.name }}</a>
          </div>
        </div>
    {% endfor %}


{% endblock %}


