{% extends 'home/panel.html' %}
{% block title %} Orders List {% endblock %}
{% block main %}
 <table class="table table-dark">
          <thead>
             <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Pay Status</th>
                <th scope="col">Order Date</th>
                <th scope="col">Total Price</th>
                <th scope="col">Order Detail</th>
              </tr>
    {% for order in orders %}
            <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ order.user.username }}</td>
            <td>{{ order.user.phone_number }}</td>
            {% if order.paid %}
                 <td class="fa fa-check-circle"></td>
            {%else%}
                 <td class="fa fa-times-circle"></td>
            {% endif %}
            <td>{{ order.created }}</td>
            <td>{{ order.get_total_price }}$</td>
            <td><a href="{% url 'home:order_detail' order.id %}" class="btn btn-primary">Detail</a></td>
          </tr>


   {% endfor %}
                 </thead>
</table>
{% endblock %}
