{% extends 'home/panel.html' %}
{% block title %} Products List {% endblock %}
{% block main %}
     <table class="table table-dark">
              <thead>
                 <tr>
                    <th scope="col">#</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Slug</th>
                    <th scope="col">Image</th>
                    <th scope="col">Price</th>
                    <th scope="col">Update</th>
                    <th scope="col">Remove</th>
                 </tr>
                 {% for product in products %}
                         <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ product.name }}</td>
                            <td>{{ product.slug }}</td>
                            <td><img src="{{ product.image.url }}" alt="" style="width: 100px;"></td>
                            <td>{{ product.price }}</td>
                            <td><a href="{% url 'home:update_product' product.id %}" class="btn btn-info">Update</a></td>
                            <td><a href="{% url 'home:remove_product' product.slug %}" class="btn btn-danger">Remove</a></td>
                         </tr>
                 {% endfor %}
              </thead>
    </table>
{% endblock %}
