<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">

      <div class="navbar-nav">

          <a class="nav-link active"  href="{% url 'home:home' %}">Home</a>
          <a class="btn btn-info" href="{% url 'orders:cart' %}">Cart : {{ cart|length }}</a>
          {% if request.user.is_authenticated %}
              <a class="btn btn-danger position-absolute top-10 end-0" href="{% url 'accounts:user_logout' %}?next={{request.path}}">Logout</a>
              <a class="btn btn-primary" href="{% url 'home:panel' %}">Panel</a>
          {% else %}
              <a class="nav-link active" href="{% url 'accounts:user_register' %}">Register</a>
              <a class="nav-link active" href="{% url 'accounts:user_login' %}">Login</a>
              <a class="btn btn-info" aria-current="page" href="{% url 'social:begin' 'google-oauth2' %}">Login/Signup With Google</a>
          {% endif %}
      </div>
  </div>
</nav>
{% if request.user.is_authenticated %}
    <div class="card">
      <div class="card-body">
        Hi :  {{ request.user.username }}
      </div>
    </div>
{% endif %}